<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username=site.usernames.github %}
          </li>
          <li>
            {% include icon-discord.html username=site.usernames.discord %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Made for the truly discerning.</p>
      </div>
    </div>
  </div>

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Proxy",
    "sameAs": [
      "https://github.com/AETERNAM-X"
    ]
  }
  </script>
</footer>